# فایل‌های تنظیمات حساس
.env

# پوشه‌های محیط مجازی پایتون
venv/
.venv/
env/

# فایل‌های کش پایتون
__pycache__/
*.py[cod]

# فایل‌های لاگ و دیتابیس‌های لوکال (اگر دارید)
*.log
*.sqlite3

# تنظیمات IDE (اختیاری)
.vscode/
.idea/